{% extends "base.html" %}

{% block content %}
  <h2>Список</h2>
  <ul>
    {% for note in object_list %}
      <li>
        {{ note.title }} |
        {{ note.year }} |
        {% if note.author %}
          {{ note.author }} |
        {% endif %}
        {{ note.status.status }} |
        {% for genre in note.genre.all %}
          {{ genre.name }},
        {% endfor %}
    </li>
    <div>
      <a href= 
      {% if 'movie' in request.path %} "{% url  'content:movie_edit'  note.pk %}"
      {% elif 'serial' in request.path %}  "{% url  'content:serial_edit' note.pk %}"
      {% elif 'book' in request.path %}  "{% url  'content:book_edit' note.pk %}" 
      {% elif 'game' in request.path %}  "{% url  'content:game_edit' note.pk %}"
      {% endif %} >Изменить запись</a> | 
      <a href=
      {% if 'movie' in request.path %} "{% url  'content:movie_delete'  note.pk %}"
      {% elif 'serial' in request.path %}  "{% url  'content:serial_delete' note.pk %}"
      {% elif 'book' in request.path %}  "{% url  'content:book_delete' note.pk %}" 
      {% elif 'game' in request.path %}  "{% url  'content:game_delete' note.pk %}"
      {% endif %}>Удалить запись</a>
    </div>
    {% endfor %}
  </ul>
{% endblock content %}