{% extends "base.html" %}

{% block content %}
  <h2>Список</h2>
  <ul>
    {% for object in page_obj %}
      <li>
        <a href= 
          {% if 'movie' in request.path %} "{% url 'content:movie_detail' object.pk %}"
          {% elif 'serial' in request.path %}  "{% url 'content:serial_detail' object.pk %}"
          {% elif 'book' in request.path %}  "{% url 'content:book_detail' object.pk %}" 
          {% elif 'game' in request.path %}  "{% url 'content:game_detail' object.pk %}"
          {% endif %} >
        {{ object.title }} |
        {{ object.year }} г. |
        {% if object.author %}
          Автор: {{ object.author }} |
        {% endif %}
        Статус: {{ object.status.status }} |
        {% for genre in object.genre.all %}
          {{ genre.name }},
        {% endfor %}
        </a>
    </li>
    
    {% endfor %}
  </ul>
  {% include "includes/paginator.html" %}
{% endblock content %}