<header>
  {% with request.resolver_match.view_name as view_name %}
  <nav class="navbar navbar-light" style="background-color: #2F4F4F">
  <div class="container">
    <a class="navbar-brand" href="{% url 'content:home' %}">
      <span class="text-warning"><b>My</b></span><font color="white">ArchiveContent</font>
    </a>
    
    {% if user.is_authenticated %}
      <div class="nav-item align-self-center mt-1">
        <font  color="white">
          пользователя {{ user.username }}
        </font>
      </div>
    <div class="spacer flex-grow-1"></div>
    {% endif %}
    <ul class="nav nav-pills">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link {% if 'movie' in request.path %} active {% endif %}" href="{% url 'content:movie' %}"> <font color = "white">Фильмы</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'serial' in request.path %} active {% endif %}" href="{% url 'content:serial' %}"> <font color = "white">Сериалы</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'book' in request.path %} active {% endif %}" href="{% url 'content:book' %}"> <font color = "white">Книги</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'game' in request.path %} active {% endif %}" href="{% url 'content:game' %}"> <font color = "white">Игры</font></a>
        </li>
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post" >
            {% csrf_token %}
            <button  style="background-color: transparent; background-repeat: no-repeat; border: none; cursor: pointer; overflow: hidden; outline: none;"  type="submit" class="btn btn-primary" id="submit_button"><font color = "white">Выйти</font></button>
        </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link{% if view_name == 'login' %} active {% endif %}" href="{% url 'login' %}"><font color = "white">Вoйти</font></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if view_name == 'registration' %} active {% endif %}" href="{% url 'registration' %}"><font color = "white">Регистрация</font></a>
        </li>
      {% endif %}
      </ul>
    </div>
    {% if user.is_authenticated and view_name != 'content:home' %}
    <div class="container">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href=
            {% if 'movie' in request.path %} "{% url  'content:movie_create'%}"
            {% elif 'serial' in request.path %}  "{% url  'content:serial_create' %}"
            {% elif 'book' in request.path %}  "{% url  'content:book_create' %}" 
            {% elif 'game' in request.path %}  "{% url  'content:game_create' %}"
            {% endif %}
            "{% url 'content:home' %}">
          <font color = "white">Добавить запись</font></a>
        </li>
      </ul>
    </div>
    {% endif %}
    </nav>
    {% endwith %}
</header>